
.container-gradient{
    background-color: rgba(0, 0, 0, 0.553);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{ 
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 60px;
    border-radius: 5px;
    gap: 10px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input-container div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container input{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #e8f0fe;
    transition: all 0.50 ease;
}

.input-container input:focus{
    background-color: #333333;
    color: white;
}

.button-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button{
    width: 100%;
    background-color: #e50914;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
}

.info-container{
    display: flex;
    justify-content: end;
}

.info-container a{
    color: rgba(255, 255, 255, 0.644);
}

.info-container a:hover{
    text-decoration: underline;
}

.info-container-2{
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-container-2 p a{
    color: white;
}

.info-container-2 p a:hover{
    text-decoration: underline;
}

.info-container-2 p:nth-child(2){
   font-size: 0.8em;
}

.alert{
    display: flex;
    justify-content: center;
    background-color: #d32f2f;
    height: 4em;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.50s ease;
}

.alert p{
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 850px){

    .auth-img{
        display: none;
    }

    .form-container{
        width: 100%;
        padding: 25px;
    }


}