.container-gradient {
  background-color: rgba(0, 0, 0, 0.553);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo {
  margin-left: 9.5em;
}

.form-container {
  width: 450px;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 68px;
  border-radius: 5px 5px 0 0;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container input {
  width: 100%;
  padding: 12px;
  height: 56px;
  border: none;
  outline: none;
  border: 1px solid #474748;
  border-radius: 5px;
  background-color: #14121399;
  transition: all 0.5 ease;
  color: white;
}

.input-container .errorEmail {
  border: 1px solid #e50914;
}

.input-container .errorPassword {
  border: 1px solid #e50914;
}

.input-container input:focus {
  border: 2px solid white;
  color: white;
}

.button-container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8em;
}

.button-container button {
  width: 100%;
  background-color: #e50914;
  height: 40px;
  border-radius: calc(0.25rem - 0.0625rem);
  font-weight: bold;
  transition: all 0.2s ease;
}

.button-container button:hover {
  background-color: rgb(190, 12, 21);
}

.login-code {
  background-color: #403e3e94;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(0.25rem - 0.0625rem);
  transition: all 0.2s ease;
  cursor: pointer;
}

.login-code:hover {
  background-color: #403e3ecf;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info-container a {
  color: white;
}

.info-container a:hover {
  color: rgba(255, 255, 255, 0.644);
}

.info-container a:hover {
  text-decoration: underline;
}

.info-container-2 {
  color: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-container-2 p a {
  color: white;
}

.info-container-2 p a:hover {
  text-decoration: underline;
}

.info-container-2 p:nth-child(2) {
  font-size: 0.8em;
}

.alert {
  display: flex;
  justify-content: center;
  background-color: #d32f2f;
  height: 4em;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  transition: all 0.5s ease;
}

.alert p {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 850px) {
  .auth-img {
    display: none;
  }

  .form-container {
    width: 100%;
    padding: 25px;
  }

  .logo {
    margin-left: 0px;
  }
}
