.card {
  transition: all 0.33s ease;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

/* .card.hover {
  top: 50%;
  position: relative;
  transform: scale(1.5);
} */

.card img {
  border-radius: 5px;
}
