
.moviBy-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieBy-container-2{
    background-color: black;
    width: 80%;
    height: 90%;
    color: white;
    filter: drop-shadow(0px 0px 4px red);
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.movieByImg-container{
    width: 40%;
    height: 100%;
}

.movieByImg-container img{
    height: 100%;
    object-fit: contain;
    width: 90%;
}

.movieBySecond-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.movieBy-title{
    font-size: 2em;
    font-weight: bold;
}

.movieBy-overview{
    width: 90%;
    height: 60px;
    overflow: auto;
}

.movieBy-overview::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    background-color: gray; /* Color de fondo de la barra de desplazamiento */
  }

.movieBy-overview::-webkit-scrollbar-thumb {
    background-color: rgb(202, 45, 45); /* Color del "pulgar" de la barra de desplazamiento */
  }

.movieBy-overview::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.361); /* Color de fondo de la "pista" de la barra de desplazamiento */
  }


.movieBy-date{
    display: flex;
    gap: 20px;
}

.movieBy-date p:nth-child(1) span{
    color: rgb(202, 45, 45);
    font-weight: bold;
}

.movieBy-date p:nth-child(2) span{
    color: blueviolet;
    font-weight: bold;
}


@media only screen and (max-width: 924px){

    .movieBy-date{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}


@media only screen and (max-width: 580px){

    .moviBy-container{
        height: 100vh;
    }


    .movieBy-container-2{
        flex-direction: column;
        height: 95%;
    }

    .movieByImg-container{
        width: 100%;
        height: 100%;
    }

    .movieByImg-container img{
        width: 100%;
        object-fit: cover;
    }

    .movieBySecond-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 65%;
    }

    .movieBy-title{
        font-size: 1.5em;
        font-weight: bold;
    }

    .movieBy-date{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}