nav {
  z-index: 10001;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  transition: all 0.5s ease;
}

nav .nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

nav .nav-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo {
  margin-left: 0;
  transform: scale(0.6);
}

@media only screen and (max-width: 990px) {
  nav {
    position: fixed;
    background-color: black;
    transition: all 0.5s ease;
  }

  nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (min-width: 990px) {
}
